@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
}

* {
    text-align: center;
}

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
}
a {
    color: black;
}
ul li {
    list-style: none;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bolder;
}
.nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 50px;
    padding: 1rem;
    background-color: rgb(192, 191, 191);
}
span{
    padding: 20px;
}
button {
    margin: 5px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(192, 191, 191);
    height: 64px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

