@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding: 140px 0;
    background-image: url(https://th.bing.com/th/id/R.9098495b7c48b15da121924aaa15027f?rik=mQANH3UpbLFWVg&riu=http%3a%2f%2fgzjssport.com%2fguanli%2fkindeditor%2fattached%2fimage%2f20161117%2f20161117083765716571.png&ehk=8o%2fWJzUXbpNwLuEVxxio%2fdkhbVQTUGN1OUgWL%2frumiU%3d&risl=&pid=ImgRaw&r=0);
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(185, 99, 18);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F5F5F5;
    padding: 30px 0;
}
.player-image {
    width: 230px;
    height:330px;
    border-radius: 5px; 
    object-fit: cover;
}
.info {
    max-width: 570px;
    margin-left: 40px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(71, 43, 10);
    height: 64px;
}